body {
  background: url("./images/wallpaper4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: -100px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}

/* Hero Section Start */
.hero {
  /* background: url("./images/wallpaper3.jpg"); */
  height: 920px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.heroGroup {
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 50px;
  text-align: center;
}

.hero h1 {
  margin: 0;
  color: var(--background-pastel);
  font-size: 60px;
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimations;
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.hero p {
  color: var(--background-pastel);
  opacity: 0.8;
  font-size: 30px;
  line-height: 1.5;
  opacity: 0;
  animation: HeroAnimations 2s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.hero a {
  font-size: 17px;
  font-weight: 600;
  color: var(--background-pastel);
  text-transform: uppercase;
  background: var(--heading-pastel);
  opacity: 0.7;
  padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.hero a:hover {
  background: var(--background-pastel);
  color: var(--heading-pastel);
}

.hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero .skills-logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 40px;
  margin: 100px 0;
  justify-items: center;
}

@media (max-width: 640px) {
  .heroGroup {
    padding: 100px 20px;
  }

  .hero h1 {
    font-size: 40px;
  }

  .hero p {
    font-size: 24px;
  }

  .hero .skills-logos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@keyframes HeroAnimations {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Hero Section End */
